.row {
    padding: 2px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.chosen {
    background-color: rgb(43, 206, 238);
    display: block;
}

button {
    min-width: 80px;

}

textarea {
    width: 400px;
}

.d-flex {
    display: flex;
}

.error {
    background: #e2e1e1;
    margin-top: 10px;
    padding: 10px;
}

.error p {
    color: #ef0202;
}