.row {
    padding: 2px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.chosen {
    background-color: rgb(43, 206, 238);
    display: block;
}

button {
    min-width: 80px;

}

textarea {
    width: 400px;
}

.d-flex {
    display: flex;
}